.salla-border-style {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  font-weight: 600;
  font-size: 1.35rem;
  justify-content: center;
  border: 3px solid #def5fd;
  color: #067dd3;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding: 6px;
  border-radius: 15px 15px 12px 12px;
  cursor: pointer;
  position: relative;
  user-select: none;
  background-color: transparent transparent;
  background-position: bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  transform: perspective(70px) rotateX(5deg) rotateY(0deg);
}

/* navbar style */

.custom-navrbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  font-weight: 500;
  font-size: 1.2rem;
  justify-content: center;
  background: #def5fd;

  color: #067dd3;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding: 3px;
  border-radius: 15px 15px 12px 12px;
  cursor: pointer;
  position: relative;
  user-select: none;
  background-position: bottom right, bottom right;
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  transform: perspective(70px) rotateX(5deg) rotateY(0deg);
}

.sp-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.sp-img2 {
  position: absolute;
  width: 50%;
  right: -25%;
  bottom: 80px;
}

.planet {
  background: url(/public/planet.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

@media (max-width: 800px) {
  .planet {
    background: none;
  }
}
