@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #0143a3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

.slick-dots li,
.slick-dots li button:before {
  color: #0143a3 !important;
}

footer #wa-widget-send-button {
  padding-left: 15px;
  padding-right: 10px;
  position: fixed !important;
  z-index: 190 !important;
  bottom: 55px;
  text-align: center !important;
  height: 40px;
  min-width: 50px;
  border-radius: 25px;
  visibility: visible;
  transition: none !important;
  background-color: #ffe0b5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  right: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .wa-messenger-svg-whatsapp {
  fill: #fd9c15;
  width: 37px;
  height: 42px;
  stroke: none;
}

.react-international-phone-input-container .react-international-phone-input {
  overflow: visible;
  width: 360px;
  border-color: rgb(229 231 235);
  margin: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: rgb(229 231 235);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.react-international-phone-input-container
  .react-international-phone-input
  :focus {
  border-color: rgb(229 231 235) !important;
  outline-offset: 2px;
  /* -tw-ring-opacity: 1; */
}

.card-gradient {
  background: linear-gradient(135deg, #fbbd08 0%, #2185d0 100%);
  color: #fff;
}
.card-gradient-alt {
  background: linear-gradient(135deg, #f2711c 0%, #21ba45 100%);
  color: #fff;
}
